// General Classes

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 700;
    font-size: 82px;
    line-height: 96px;
    color: $white;
}

.subtitle {
    font-size: 24px;
    line-height: 150%;
    color: $white;
}

.search-form {
    width: 422px;
    height: 71px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    backdrop-filter: blur(10px);
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px 10px 30px;

    &__input {
        height: 100%;
        width: calc(100% - 70px);
        background: none;
        border: none;
        outline: none;
        font-size: 20px;
        line-height: 23px;
        color: $white;

        &::placeholder {
            font-size: 20px;
            line-height: 23px;
            color: $white;
        }
    }

    &__button {
        height: 100%;
        min-width: 50px;
        border-radius: 25px;
        border: none;
        background-image: $activeColor;
        cursor: pointer;

        &_text {
            font-size: 20px;
            line-height: 23px;
            color: $white;
            display: inline-block;
            padding: 12px 24px;
            text-align: center;
            min-width: auto;
        }
    }

    &__button-icon {
        width: 28px;
    }
}

.title-mini {
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}