// Color Variables

$white: #FFFFFF;
$black: #081323;

$primaryGray: #4F4F4F;
$secondaryGray: #828282;

$activeColor: linear-gradient(90deg, #2AF598 0%, #009EFD 100%);

// Fonts Variables

$primaryFont: "Work Sans";
$boldFont: 700;
$normalFont: 400;
$mediumFont: 500;
$semiboldFont: 600;

$primaryFontSize: 24px;

// Container Variables

$containerWidth: 1488px;
$containerPadding: 30px;